@import "settings";
@import "fonts";
@import "compass/css3";

// Behold, here are all the Foundation components.
  @import "foundation/components/grid";
  // @import "foundation/components/accordion";
  // @import "foundation/components/alert-boxes";
  // @import "foundation/components/block-grid";
  // @import "foundation/components/breadcrumbs";
  // @import "foundation/components/button-groups";
  @import "foundation/components/buttons";
  // @import "foundation/components/clearing";
  @import "foundation/components/dropdown";
  @import "foundation/components/dropdown-buttons";
  // @import "foundation/components/flex-video";
  @import "foundation/components/forms";
  // @import "foundation/components/icon-bar";
  // @import "foundation/components/inline-lists";
  // @import "foundation/components/joyride";
  // @import "foundation/components/keystrokes";
  @import "foundation/components/labels";
  // @import "foundation/components/magellan";
  // @import "foundation/components/orbit";
  // @import "foundation/components/pagination";
  // @import "foundation/components/panels";
  // @import "foundation/components/pricing-tables";
  // @import "foundation/components/progress-bars";
  @import "foundation/components/range-slider";
  @import "foundation/components/reveal";
  // @import "foundation/components/side-nav";
  // @import "foundation/components/split-buttons";
  // @import "foundation/components/sub-nav";
  @import "foundation/components/switches";
  // @import "foundation/components/tables";
  // @import "foundation/components/tabs";
  // @import "foundation/components/thumbs";
  @import "foundation/components/tooltips";
  // @import "foundation/components/top-bar";
  @import "foundation/components/type";
  // @import "foundation/components/offcanvas";
  @import "foundation/components/visibility";

// @import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
$hud-opacity: 0.5;


body{ background: #2A52BE; // Just a deep, gentle cerulean blue
  background-position: center center;
  background-size: 100%;
}

#death-widget {
  opacity: $hud-opacity;
  // font-family: 'Pontano Sans', sans-serif;
  text-align: center;
  @include text-shadow(rgba(#000000, 0.2) 6px 6px 0);

  h1{ font-size: 10rem; line-height:1; color: white;}
  h2{ font-size: 5rem; line-height:1; color: white;}
  h5, h4{ color: white; }
  #day{}
  #hours{}
  #mintes{}

  #tagline{ line-height: 3; }

  .lang{
    text-transform: uppercase;
    font-size: 50%;    
  }

} 

fieldset.birthday-picker{
  border: medium none;
  margin: 0;
}


.back .columns{

}

.birthday-picker select{
  width: 30%;
  margin-right: 1%;
}


// Flippy panel thing

.flippy {

  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;

  .front, .back {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;

    border: 10px solid rgba(255,255,255, $hud-opacity);
    @include border-radius(50px);
    @include box-shadow(rgba(#000000, 0.2) 6px 6px 0);


    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  /* -- make sure to declare a default for every property that you want animated -- */
  /* -- general styles, including Y axis rotation -- */
  .front {
    z-index: 900;
    // border: 1px solid red;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  .back {
    z-index: 800;
 
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateY(-179deg);
  }

  &.flip {

    .back {
      z-index: 1000;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
      transform: rotateX(0deg) rotateY(0deg);
    }

    .front {
      z-index: 900;
      background: #888;

      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }

}


// Water Drops
// ------------------------------------
ul.drops{
    position: absolute;
    top:0; left: 0;
    z-index: 700;


  li{
      position: absolute;
      z-index: 100000;
      display: block;
      height: 25px;
      width:25px;
      margin: 20px auto;
      border-radius: 50%;
      background: rgba(255,255,255,.05) -webkit-radial-gradient(center 75%, ellipse contain, #ffffff, rgba(255,255,255,0) 60%);
      box-shadow: 
        inset 0 0px 6px rgba(0,0,0,.3), 
        inset 0 -1px 6px rgba(0,0,0,.3),  
        inset 0 4px 3px rgba(0,0,0,.2), 
        inset 0 10px 3px rgba(255,255,255,.1), 0 3px 6px rgba(0,0,0,.5);
  }
}



